.header-checkout {
  padding: 1.0625rem 1rem;
}

.header-checkout img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.625rem;
}

.header-options {
  display: flex;
  justify-content: space-between;
}

.header-options span {
  text-align: center;
  align-self: center;
}
