.header-checkout {
  padding: 1rem 1rem;
  max-width: 39.625rem;
  margin-right: auto;
  margin-left: auto;
}

.header-checkout img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.625rem;
}

.header-options {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #D6D6D6;
}

.header-options span {
  text-align: center;
  align-self: center;
}
