.shipping {
  padding: 0 1rem;
  max-width: 29.375rem;
}

.shipping input {
  margin-bottom: 0.5rem;
}

.name {
  display: flex;
  flex-direction: column;
}

.labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.labels label {
  width: 48%;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shipping .inputs input {
  width: 48%;
}

@media only screen and (min-width : 1280px){

  .shipping {
    margin-left: 7rem;
  }

}

@media only screen and (min-width : 1920px){

  .shipping {
    margin-left: 27rem;
  }

}
