html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 14px;
  margin: 0;
}

.title {
  display: flex;
}

.continue-button {
  background-color: #FEE343;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
}

input {
  padding: 1rem 0 1rem 1rem;
}
