.email-block {
  display: flex;
  flex-direction: column;
  margin-top: 0.875rem;
}

.email-block-icons {
  display: flex;
  margin-top: 1.125rem;
}

.email-block-icons img {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.email-block-icons img:first-of-type {
  background: black;
}

.email-block-icons img:last-of-type {
  background: black;
}

.footer-content {
  padding: 0 1rem;
  margin-top: 1.563rem;
}

.footer-logo {
  margin-left: -0.75rem;;
}

.footer-content p {
  white-space: nowrap;
  font-size: 16px;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  margin: 2.188rem 0;
}

.footer-block img {
  aspect-ratio: 1/1;
  max-width: 0.75rem;
}

.footer-block p {
  font-size: 16px;
}

.footer-link {
  display: none;
}

.country {
  display: none;
}

.canada-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.875rem;
}

footer {
  padding: 1.063rem 4.65rem;
  text-align: center;
  background: #F1F0F0;
  color: #A9A9A9;
}

@media only screen and (min-width : 1280px){

  .footer-content {
    display: flex;
    justify-content: center;
  }

  .footer-main {
    order: 1;
    min-width: 26rem;
  }

  .country {
    display: flex;
    margin-bottom: 3.298rem;
  }

  .your-country {
    align-self: center;
  }

  .canada-icon {
    margin-bottom: 0;
    margin-left: 1.75rem;
  }

  .footer-blocks {
    display: none;
  }

  .footer-link {
    display: flex;
    justify-content: space-between;
    min-width: 26rem;
    margin-right: 17.375rem;
  }

  .footer-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .footer-link li {
    margin: 1rem 0;
  }

}

@media only screen and (min-width : 1920px){

  .footer-link {
    margin-right: 22.75rem;
  }

}
