.selection {
  padding: 2rem 1rem 0rem 1rem;
}

.selection-title {
  display: flex;
}

.number {
  align-self: center;
  margin-right: 1rem;
}

.selection-dropdown{
  display: flex;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.selection-dropdown p {
  align-self: center;
}

.dropdownMenu {
  width: 119px;
  margin-left: 1.125rem;
}

.selection-price {
  display: flex;
  text-transform: uppercase;
}

.selection-item {
  display: flex;
  margin-top: 95px;
}

.selection-box {
  display: flex;
}

.selection-box img {
  aspect-ratio: 1/1;
  width: 80%;
  min-width: 100px;
  padding: 0.25rem;
}

.selection-button {
  background-color: #FEE343;
  padding: 10px 35px;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
}

.selection-email {
  font-size: 14px;
  white-space: nowrap;
  margin: 1.5rem 0 2rem 0;
}