.selection {
  padding: 2rem 1rem 0rem 1rem;
}

.number {
  align-self: center;
  margin-right: 1rem;
}

.selection-dropdown{
  display: flex;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.selection-dropdown p {
  align-self: center;
}

.dropdownMenu {
  width: 119px;
  margin-left: 1.125rem;
}

.selection-price {
  display: flex;
  text-transform: uppercase;
  margin-bottom: 5.938rem;
}

.selection-box {
  display: flex;
}

.selection-box img {
  aspect-ratio: 1/1;
  width: 80%;
  min-width: 100px;
  padding: 0.25rem;
}

.selection-button {
  padding: 10px 35px;
}

.selection-email {
  font-size: 14px;
  white-space: nowrap;
  margin: 1.5rem 0 2rem 0;
}

@media only screen and (min-width : 1280px){

  .selection {
    margin: 0 10rem;
  }

  .selection-box img {
    padding: 2.5rem;
  }

}

@media only screen and (min-width : 1920px){

  .selection {
    margin: 0 24.313rem;
  }

  .selection-box img {
    padding: 5rem;
  }

}
