.why-revive {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.why-revive p {
  max-width: 90%;
}

@media only screen and (min-width : 1280px){

  .why-revive {
    margin: 3rem 10rem 0 10rem;
    flex-direction: row;
  }

  .why-revive-content {
    align-self: center;
    margin-left: 2rem;
  }

  .why-revive p {
    max-width: 33.688rem;
  }
}

@media only screen and (min-width : 1920px){

  .why-revive {
    margin: 6rem 24.313rem 0 24.313rem;
  }

  .why-revive-content {
    margin-left: 4.938rem;
  }

  .why-revive p {
    font-size: 18px;
  }

}
